@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&family=Roboto:wght@500;700&display=swap');
//Font
$font1:'Roboto', sans-serif;
$font2:'Open Sans', sans-serif;
//Media queries
$medium:972px;
$small:768px;
//Units
$unitDiv:1.5rem;
$unitContent:1rem;